modem.img
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/priv-app/Settings/Settings.apk
